<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Exercise Form</h2>
            <form class="exercise">
                <div class="form-group">
                    <div class="input-group">
                        <select class="custom-select" id="category">
                            <option selected>Choose a category: </option>
                            <option value="cardio">Cardio</option>
                            <option value="yoga">Yoga</option>
                            <option value="hiit">HIIT</option>
                            <option value="strength">Strength</option>
                            <option value="pilates">Pilates</option>
                        </select>
                        <select class="custom-select" id="duration">
                            <option selected>Workout length: </option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="60">60</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="submitExerciseReq">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>
<script src="/assets/js/calendar.js"></script>